@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Press+Start+2P&display=swap');

main{
    margin:0px;
    padding:0px;
}
body {
    background:linear-gradient(to bottom, #ffa9dd, #ffd7ef);
    font-family: 'Press Start 2P', cursive; 
    height: 100vh;
    margin: 0;
}
.booke{
    color:#90f9f0;
    position:absolute;
    top:-10%;
    left:10%;
    font-size:clamp(1px, 1.8vw, 3rem);
}

.pixel_dialog {
    background-color: #b3d2ff;
    width: 400px; 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a janela */

    box-shadow: 
        0 4px 0 #bf9fff, 
        0 -4px 0 #bf9fff,
        4px 0 0 #bf9fff, 
        -4px 0 0 #bf9fff; 

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.dialog_header {
    background-color: #bf9fff; 
    color: #ffffff;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    cursor: move;
}

.dialog_content {
    height: 40rem;
    padding: 20px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;

}
.dialog_content form {
    position: relative; /* Torna o <form> a referência para os elementos absolutos dentro dele */
    height: 100%;       /* Faz o <form> ocupar 100% da altura do pai */
    width: 100%;        /* Faz o <form> ocupar 100% da largura do pai */
}
label {
    display: block;
    margin-bottom: 10px;
}
#lblData_nascimento{
    position:absolute;
    top:2%;
}
#data_nascimento{
    position:absolute;
    top:5%;
    width:102%;

}
#lblFaculdade{
    position:absolute;
    top:15%;
}
#faculdade{
    position:absolute;
    top:18%;
    width:102%;

}

#lblCurso{
    position:absolute;
    top:28%;
}
#curso{
    position:absolute;
    top:31%;
    width:102%;
}
#lblCiclo_faculdade{
    position:absolute;
    top:41%;
}
#ciclo_faculdade{
    position:absolute;
    top:44%;
    width:102%;
}
#lblCiclo{
    position:absolute;
    top:54%;
}
#ciclo{
    position:absolute!important;
    top: 57%!important;
}

#lblMateria{
    position:absolute;
    top:67%;
}

.btnMateria{
    position:absolute;
    top:73%;
    left:60px;
    box-shadow: 
        0 3px 0 #d5ffc8, 
        3px 0 0 #d5ffc8,
        -3px 0 0 #d5ffc8,
        0 -3px 0 #d5ffc8;
    background-color: #a0f386;
    color: #ffffff;
   font-size: clamp(1px, 0.6vw, 3rem)!important;
}

input {
    position:absolute;
    color:azure;
    background-color: #94add3;
    border: none;
    outline: none; 
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Press Start 2P', cursive;
    box-shadow: 
        inset 0 2px 0 #888, 
        inset 2px 0 0 #888;
}

.dialog_buttons {
    position:absolute;
    top:86%;
    left:8%;
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.btn {
    flex-grow: 1; 
    padding: 10px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: clamp(1px, 0.7vw, 3rem);
    cursor: pointer;
}

.btnOk {
    width:7rem;
    background-color: #bf9fff;
    color: #ffffff;
   font-size: clamp(1px, 0.6vw, 3rem)!important;
    box-shadow: 
        0 3px 0 #9f85d4, 
        3px 0 0 #9f85d4,
        -3px 0 0 #9f85d4,
        0 -3px 0 #9f85d4;
}


p{
    position:absolute;
    top:78%;
    overflow:hidden;
}

.hidden {
    display: none;
}


#modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 10; 
}


#modal-materias {
    width: 350px; /* Um pouco menor */
    height: auto; /* Altura automática */
    z-index: 20; /* Fica na frente de tudo */
}


.modal-content-materias input {
    position: static;
    width: 100%;
    margin-bottom: 15px;
}
.modal-content-materias label {
    position: static;
    margin-bottom: 5px;
}
.modal-content-materias {
    height: auto; /* Altura automática */
}

/* Estilo da lista de matérias */
#lista-materias {
    height: 350px;
    background-color: #94add3;
    border-radius: 4px;
    border: 2px solid #888;
    list-style-type: none;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto; 
}

#lista-materias li {
    margin-bottom: 5px;
    position: relative;
    padding: 8px;
    padding-right: 30px; /* Deixa espaço para o "X" */
    background-color: #94add3;
    box-shadow: 0 2px 0 #888;
    color: white;
}
.delete-materia-btn {
    position: absolute; 
    top: 50%;
    right: 5px;
    transform: translateY(-50%); /* Alinha verticalmente */
    
    background-color: #bf9fff;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    
    box-shadow: 0 2px 0 #9f85d4; 
    
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    
    /* Centraliza o "X" */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px; 
}
.delete-materia-btn:active {
    box-shadow: none;
    top: calc(50% + 2px);
}
/* Botões do modal */
.modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.modal-content-materias .btnMateria {
    position: static;  
    display: block;  
    margin-left: auto; 
    margin-right: auto;

    margin-top: 20px;  
}