@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Press+Start+2P&display=swap');

main{
    margin:0px;
    padding:0px;
}
body {
    background:linear-gradient(to bottom, #ffa9dd, #ffd7ef);
    font-family: 'Press Start 2P', cursive; 
    height: 100vh;
    margin: 0;
}
.booke{
    color:#90f9f0;
    position:absolute;
    top:-20%;
    left:15%;
    font-size:clamp(1px, 3vw, 3rem);
}
.pixel_dialog {
    background-color: #b3d2ff;
    width: 350px; 

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centraliza a janela */

    box-shadow: 
        0 4px 0 #bf9fff, 
        0 -4px 0 #bf9fff,
        4px 0 0 #bf9fff, 
        -4px 0 0 #bf9fff; 

    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.dialog_header {
    background-color: #bf9fff; 
    color: #ffffff;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    cursor: move;
}

.dialog_content {
    height: 13rem;
    padding: 20px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;

}
label {
    display: block;
    margin-bottom: 10px;
}
#username{
    position:absolute;
    top:22%;
    width:90%;
    color:azure;
    background-color: #94add3;
    border: none;
    outline: none; 
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Press Start 2P', cursive;
    box-shadow: 
        inset 0 2px 0 #888, 
        inset 2px 0 0 #888;
}
input[type="password"] {
    position:absolute;
    top:50%;
    width:90%;
    color:azure;
    background-color: #94add3;
    border: none;
    outline: none; 
    padding: 10px;
    box-sizing: border-box; 
    font-family: 'Press Start 2P', cursive;
    box-shadow: 
        inset 0 2px 0 #888, 
        inset 2px 0 0 #888;
}


.dialog_buttons {
    position:absolute;
    top:65%;
    left:15%;
    margin-top: 20px;
    display: flex;
    gap: 20px;

}

.btn {
    flex-grow: 1; 
    padding: 10px;
    border: none;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}

.btnEntrar {

    width:7rem;
    background-color: #bf9fff;
    color: #ffffff;
   
    box-shadow: 
        0 3px 0 #9f85d4, 
        3px 0 0 #9f85d4,
        -3px 0 0 #9f85d4,
        0 -3px 0 #9f85d4;
}

.btnCancelar {
    width:7rem;
    background-color: #bf9fff;
    color: rgb(255, 255, 255);
    /* Borda dupla usando múltiplos box-shadows */
    box-shadow:
        /* Borda externa */
        0 3px 0 #9f85d4,
        3px 0 0 #9f85d4,
        -3px 0 0 #9f85d4,
        0 -3px 0 #9f85d4;
}

.btn:active {
    position: relative;
    top: 2px; /* Simula o botão sendo afundado */
    box-shadow: none; /* Remove a sombra ao clicar */
}
#lblPassword{
    position:relative;
    top:25%
}

.btnBottom{
    position:absolute;
    top:105%;
    gap:20px;
    display:flex;
}
#btnCadastrar:hover{
    color: #142726;
}
#btnCadastrar{
    background: none;
    border:none;
    font-family: 'Press Start 2P', cursive; 
    font-size:clamp(1px, 1vw, 1rem);
    font-weight:700;
    cursor:pointer;
    color: #3b6663;
}
#btnEsqueceu{
    background: none;
    border:none;
    font-family: 'Press Start 2P', cursive; 
    font-size:clamp(1px, 1vw, 1rem);
    font-weight:700;
    cursor:pointer;
    color: #3b6663;
}
#btnEsqueceu:hover{
    color: #142726;
}